# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\zenman_spacecrafts_gis\prosEO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
